# Based on the "trust" template v0.1.2
# https://github.com/japaric/trust/tree/v0.1.2

dist: trusty
language: rust
services: docker
sudo: required

env:
  global:
    - CRATE_NAME=elba

matrix:
  include:
    - env: TARGET=i686-unknown-linux-gnu
      rust: nightly-2020-02-21
      addons:
        apt:
          packages:
            - pkg-config
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly-2020-02-21
      addons:
        apt:
          packages:
    - env: TARGET=i686-unknown-linux-musl
      rust: nightly-2020-02-21
      addons:
        apt:
          packages:
            - pkg-config
    - env: TARGET=x86_64-unknown-linux-musl
      rust: nightly-2020-02-21
      addons:
        apt:
          packages:
            - pkg-config
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly-2020-02-21
      addons:
        homebrew:
          packages:
            - openssl

before_install:
  - set -e
  - rustup self update

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  api_key:
    secure: "CDGWbTanLySMW1BNbmdZTHwJxinzCFEYSQQHBX5dKXLwXTB9jJYXMmqeTr6Yo3oEFVFu1V2U+ovKYypyUoP1NWl/ehBx8kqDzUWValpbEMtIi8ukIJTCgmEmsqyv3zrQWcRuQWwuLcaSjRtZmI5POheQswlX17dR8EssVOo032d5Sl6Rq5OIFWxsPI+5SQg9JXxfZmcRb2jO11eLGp7Xl1Ibb8vPsGIzjSatbd6wdixK9SLdMbbyu/tjuNjfZm84XLwNyTDrXm3wsgKx6tg3P2mbu4llH6GhVwmb1aMEKHSkBGGv6SlJRJMOd7eiHJSbHRh4FJNSd2YqnHRYe3ObWP31Ao9gG4cCc5921iZ497i90zBVTzpqLrgMIKG+K9lNLvSoksFv3H3ikwkaRBa2l/bEU2B+W6a9NcV6aGJ0t7iejkDnkmDKtiTiA3DB6caKYvRvWfURA9Z/9YlBQoZ6Drqqj33GPu9XBDvr0P/4Qs1DS0fVItKPMMd+Qi7mWvg//08rFJ31w4UZ0FKpMSDfaKM10hfAsDXlfyyNYRtGCnELNdCmLZ8KzCdPszHSD1huz/KSHiKG/dmLcSQfeRtymWOli9deq5RDcDnBgA7PPbcGzZxkKz/6mcOe4Op2IufjcOFmC3pAvtj9MYSwl4nT8odYqtcN3eqqL4f8SEC9ATk="
  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    # release tags
    - /^v?\d+\.\d+\.\d+.*$/
    - master

notifications:
  email:
    on_success: never
